body {
    background-color: #e9f1f2;
    display: flex;
    min-height: 100vh;
    margin: 0;
}

#menu {
    background-color: #f8fbfc;
    display: block;
    justify-content: center;
    height: 150dvh;
    min-width: 250px;
    width: 250px;
}

#container_header{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    width: 250px;
}

ul li {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul li a {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #00BC7D;
    color: #fff;
    box-shadow: 0 4px 6px rgba(4, 151, 41, 0.953);
}

#menu ul li a:hover {
    background-color: #00a36c;
    box-shadow: 0 4px 6px rgba(4, 151, 41, 0.953);
}

#logo_header {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 80%;
    border-radius: 5px;
    color: #1a1a1a;
    margin-top: 20px;

}

#nome_header {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    align-self: center;
    font-family: Arial, sans-serif;
}

.bloco_selecao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;

    height: 50px;
    max-height: 50px;
    min-height: 50px;

    background-color: #1ec2f9;

}


.texto_selecao {
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

#menu_estufa{
    background-color: #f8fbfc;
    display: block;
    justify-content: center;
    height: 480dvh;
    min-width: 250px;
    width: 250px;
}


#menu_estufa ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    width: 250px;
}

#menu_estufa ul li a {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #00BC7D;
    color: #fff;
    box-shadow: 0 4px 6px rgba(4, 151, 41, 0.953);
}
