body{
background-color: #f4f4f4;
margin:0px;
font-family: 'Poppins', sans-serif;
display: flex;

}

header{
background-color: white;
display: flex;
flex-direction: column;
height: 130dvh;
width: 10%;
align-items: center;
font-weight: 700;
}

.logo_container{
    margin-top: 20px;
display: flex;
align-items: center;
}

.assets{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.div_hr{
    margin: 5px;
}

.indicadores div{
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.09) 0px 23px 100px 0px;
    width: 23%;
    height: 20dvh;
}

main{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    margin: 40px;
}
.indicadores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


div{
border-radius: 20px ;
}



.indicador1{
    background: linear-gradient(180deg, #138109 -7.7%, #13E200 99.79%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
}
.indicador1 h3,h1 {
padding: 0;
margin: 0;
}
.indicador1 h1{
    font-size: 60px;
}
.indicador1 h3{
    font-size: 20px;
    font-weight: 500;
}

.indicador2 h3,h1{
padding: 0;
margin: 0;
}

.indicador2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicador2 h3{
    font-size: 20px;
    font-weight: 500;
}

.unidade_de_medida{
    font-size:10px;
}

.indicador2 h1{
    font-size: 20px;
    font-weight: 600;
}

.bold_indicador{
    color: #258188;
    font-size: 50px;
}

.indicador3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicador3 h3,h1{
padding: 0;
margin: 0;
}

.indicador3 h3{
    font-size: 20px;
    font-weight: 500;
}
.indicador3 h1{
    font-size: 20px;
    font-weight: 600;
}

.indicador4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicador4 h3,h1{
padding: 0;
margin: 0;
}
.indicador4 h1{
    font-size: 50px;
    font-weight: 700;
    color: red;
}

.indicador4 h3{
    font-size: 15px;
    font-weight: 600;
}

.graficos {
    height: 100dvh;
    display: flex;
    flex-direction: row;
    gap: 35px;

    
}

.esquerda{
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: 44dvh;
}
.direita{
    display: flex;
    flex-direction: column;
      gap: 35px;
      height: 44dvh;
}

.graficos canvas{
    background-color: white;
    width: 44dvw;
    height: 50dvh;
    box-shadow: rgba(17, 12, 46, 0.09) 0px 23px 100px 0px;
    border-radius: 20px;
}

.dash{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
