* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E8F1F2;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

section {
    min-height: 65dvh;
}

a {
    text-decoration: none;
    color: inherit;
}


.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logopng {
    width: 40px;
    margin-left: 10px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.fonte {
    font-size: 1rem;
    color: #001A23;
}

.botoes {
    display: flex;
    gap: 10px;
}

.cadastre,
.login {
    padding: 8px 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.cadastre {
    background-color: #001A23;
    color: white;
    border: none;
}

.login {
    border: 2px solid #001A23;
    background: transparent;
}

.cadastre:hover {
    background-color: #E8F1F2;
    transform: scale(1.04);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px #001A23 solid;
}

.cadastre:hover a {
    color: #001A23;
}

.login:hover {
    background-color: #001A23;
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    color: #E8F1F2;
}

.fundo_inicial {
    background-image: url("../img/bannerInicial.svg");

    background-size: cover;

    background-position: center bottom;
    background-repeat: no-repeat;


    min-height: 100%;
    height: auto;

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 60px 20px 150px 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_sobre_nos_principal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 10dvh;
    width: 100%;
}

.container_sobre_nos {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#sobre-nos {
    display: flex;
    flex-direction: column;
    width: 90%;

}

.container_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-top: 5dvh;
}

.logo_inicial {
    width: 15vw;
    max-width: 100px;
    min-width: 60px;
}

.conteudo_inicial {
    color: white;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_inicial h1 {
    color: #B3EFB2;
    font-size: clamp(28px, 5vw, 50px);
    line-height: 1.2;
}

.conteudo_inicial p {
    margin-top: 5dvh;
    text-align: center;
    max-width: 800px;
    font-size: clamp(14px, 1vw, 30px);
}

.container_textos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 5dvh;
}

.mini_titulo_sobre_nos {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.titulo_sobre_nos {
    font-size: 45px;
    color: #001A23;
    font-family: 'Poppins', sans-serif;

}

.container_conteudo_sobre_nos {
    color: #001A23;

}

.frase_sobre_nos {
    font-size: 20px;
}

.container_imagem_sobre_nos {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container_imagem_sobre_nos img {
    border-radius: 30px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: block;
}

.container_conteudo_sobre_nos p {
    line-height: 1.5;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;

}

.card_sobre_nos {
    background-color: #001A23;
    width: 100%;
    height: auto;
    padding: 60px 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.titulo_card {
    width: 30%;
    margin-left: 40px;
    font-size: 55px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1.5px #B3EFB2;
}

.logo_card_sobre_nos {
    width: 200px;
    height: auto;
}

.container_conteudo_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
}

.frase_card {
    color: #B3EFB2;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.conteudo_card {
    color: #E8F1F2;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

#como-funciona {
    background-color: #E8F1F2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5dvh;
    width: 100%;
    min-height: 100dvh;
    margin: 5dvh 0;
    padding-top: 5dvh;  
    
}

#como-funciona .foto {
    background-color: #E8F1F2;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#como-funciona .foto img {
    width: 100%;
    height: 80%;
    border-radius: 20px;

}

.texto {
    background-color: #E8F1F2;
    width: 55%;
    min-height: 80dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

#como-funciona .texto h1 {
    margin-bottom: 20px;
}

#como-funciona .texto h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

.topicos-como-funciona {
    width: 90%;
    min-height: 90dvh;
    height: auto;
    background-color: #E8F1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.topicos-como-funciona p {
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.topicos-como-funciona img {
    width: 80%;
}

.texto-topicos-como-funciona:last-of-type p {
    border-bottom: none;
}

.topicos-como-funciona span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    min-width: 30px;
    margin-right: 20px;
    font-size: 20px;
    margin-right: 0;
    text-align: right;

}

.texto-topicos-como-funciona {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}


#contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    width: 90%;
    margin: 10dvh auto;
    height: 100%;
}

.container_conteudo_cont_foto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opcoes_contato {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards_contato {
    background-color: #001A23;
    border-radius: 25px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.fotoPlanta2 {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 25px;
}

.titulo_card_contato {
    color: #00d084;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.p_contato {
    color: #E8F1F2;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.botao_fale_conosco {
    background-color: transparent;
    color: #00d084;
    border: 2px solid #00d084;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.botao_fale_conosco:hover {
    background-color: #00d084;
    color: #001A23;
    transform: scale(1.05);
}

.fale_conosco_h1 {
    color: #001A23;
    align-self: center;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.fale_conosco_frase {

    line-height: 1.5;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}


.fotoPlanta2 {
    width: 100%;
    object-fit: cover;
}

#simulador {
    background-color: #001A23;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    min-height: 80dvh;
    max-height: 100%;
    width: 90%;
    margin-bottom: 5%;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.container-simulador-titulo {
    margin-bottom: 5%;
    color: white;
    text-align: center;
}

.container-simulador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-simulador {
    display: flex;
    flex-direction: column;
    background-color: #E8F1F2;
    width: 80%;
    min-height: 20%;
    max-height: 30%;
    align-items: center;
    padding: 60px;
    border-radius: 20px;
    align-content: center;
}

.content-simulador h1 {
    font-size: 40px;
}

.content-right-group {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    text-align: center;
    gap: 10px;
}

.content-right-row {
    display: flex;
    flex-direction: column;

}

.content-right-row label {
    text-align: justify;
}

.content-right-row input {
    background-color: white;
    padding: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
    border: 1px #c9c9c9 solid;
    border-radius: 8px;
    width: 100%;
    align-self: center;
    outline: none;
}

.content-right-row input:focus {
    border: 1px #001A23 solid;
    transition: all 0.9s;
}

.content-right-group button {
    background-color: #001A23;
    color: white;
    font-size: 20px;
    padding: 30px;
    width: 100%;
    align-self: center;
    border-radius: 8px;
    border: none;
    font-weight: 700;
}

.content-right-group button:hover {
    background-color: #00455e;
    transition: all 0.5s;
    transform: scale(1.03);
}

hr {
    margin-top: 30px;
}

#id_mensagem {
    margin: 5%;
    width: 100%;
    max-width: 760px;
    padding: 1.5rem 1.5rem;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, );
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    line-height: 1.6;
    min-height: 150px;
}

.destaque-verde {
    color: #1e8d3f;
    font-weight: 700;
}

.destaque-vermelho {
    color: #ff0000;
    font-weight: 700;
}

.content-right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 5vh;
    gap: 0.4rem;
    padding-bottom: 1rem;
}

.content-right-button button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0.7rem 2rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.262);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1em;
}

.content-right-button button:hover {
    background-color: #B3EFB2;
}

.content-right-res {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45%;
    width: 90%;
    gap: 0.3em;
    border-top: 1px solid rgba(0, 0, 0, 0.243);
    border-radius: 0.1rem;
}

.content-right-res h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.alerta-card {
    background-color: #ffffff;
   
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
}

.sucesso-card {
    background-color: #f4fdf4;
    border-left: 5px solid #5cb85c;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
}

ul.impacto-lista {
    margin-top: 10px;
    padding-left: 20px;
}

ul.impacto-lista li {
    margin-bottom: 8px;
}

footer {
    width: 100%;
    background-color: #001A27;
    box-sizing: border-box;
    border-top: solid 2px #000;
}

.caixa {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 25px;
    padding: 20px 20px;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.dashboard,
.mapadosite,
.suporte,
.fotos {
    flex: 1;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 5px;
}

.dashboard,
.mapadosite {
    align-items: flex-start;
    text-align: left;
}

.suporte {
    align-items: left;
    text-align: left;
}

.fotos {
    align-items: center;
    text-align: center;
    margin-right: 15%;
}

.fotos img {
    max-width: 120px;
    height: auto;
    display: block;
}

.cor {
    color: #24CA71;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 10px;
}

.cortexto {
    color: #E8F1F2;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.6;
}

.informaçoes {
    width: 100%;
    margin-top: 1px;
    text-align: center;
}

.branco {
    color: white;
}

.linha {
    height: 1px;
    background-color: white;
    margin-bottom: 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom p {
    font-size: 15px;
    color: white;
    margin: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}